livestream/src/eduze/livestream/exchange/client/audiorelay1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.exchange.livestream.eduze/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.exchange.livestream.eduze/" name="FrameBufferImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.exchange.livestream.eduze/" schemaLocation="http://localhost:8000/audiorelay?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="pushFrame">
<part name="parameters" element="tns:pushFrame"></part>
</message>
<message name="pushFrameResponse">
<part name="parameters" element="tns:pushFrameResponse"></part>
</message>
<message name="getSegmentID">
<part name="parameters" element="tns:getSegmentID"></part>
</message>
<message name="getSegmentIDResponse">
<part name="parameters" element="tns:getSegmentIDResponse"></part>
</message>
<message name="pullFrames">
<part name="parameters" element="tns:pullFrames"></part>
</message>
<message name="pullFramesResponse">
<part name="parameters" element="tns:pullFramesResponse"></part>
</message>
<message name="startNewSegment">
<part name="parameters" element="tns:startNewSegment"></part>
</message>
<message name="startNewSegmentResponse">
<part name="parameters" element="tns:startNewSegmentResponse"></part>
</message>
<portType name="FrameBuffer">
<operation name="pushFrame">
<input wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/pushFrameRequest" message="tns:pushFrame"></input>
<output wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/pushFrameResponse" message="tns:pushFrameResponse"></output>
</operation>
<operation name="getSegmentID">
<input wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/getSegmentIDRequest" message="tns:getSegmentID"></input>
<output wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/getSegmentIDResponse" message="tns:getSegmentIDResponse"></output>
</operation>
<operation name="pullFrames">
<input wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/pullFramesRequest" message="tns:pullFrames"></input>
<output wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/pullFramesResponse" message="tns:pullFramesResponse"></output>
</operation>
<operation name="startNewSegment">
<input wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/startNewSegmentRequest" message="tns:startNewSegment"></input>
<output wsam:Action="http://server.exchange.livestream.eduze/FrameBuffer/startNewSegmentResponse" message="tns:startNewSegmentResponse"></output>
</operation>
</portType>
<binding name="FrameBufferImplPortBinding" type="tns:FrameBuffer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="pushFrame">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSegmentID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pullFrames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startNewSegment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FrameBufferImplService">
<port name="FrameBufferImplPort" binding="tns:FrameBufferImplPortBinding">
<soap:address location="http://localhost:8000/audiorelay"></soap:address>
</port>
</service>
</definitions>